.dados{
        /* border: solid blue; */
    width: 65%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.datas{
    /* border: solid navy; */
    display: flex;
    /* height: 2rem; */
    width: 65%;
    justify-content: space-between;
}

.informations{
    /* border: solid lawngreen; */
    display: flex;
    gap: 0.4rem;
}

.dado_importado{
    color: #033E8C;
}