@font-face {
    font-family: 'poppins_extrabold';
    src: url('../../utils/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'poppins_semibold';
    src: url('../../utils/fonts/Poppins-SemiBold.ttf');
}

body {
    height: 100%;
}

.header {
    background-color: #0E0C19;
    display: flex;
    height: 60px;   
}

.header .imagens {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
    font-family: 'poppins_extrabold';
}

.header .imagens #logoLetter, #logoImage {
    display: flex;
    width: 3rem;
}

.header .imagens .imagens_logo {
    cursor: pointer;
}

.header .imagens a .imagens_logo img{
    width: 100%;
}

.header .imagens .imagens_af {
    cursor: pointer;

}

.header .label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    font-family: 'poppins_extrabold';
}

.header .label .labels {
    color: white;
    cursor: pointer;
}

.header .label .labels_login {
    color: #F95C00;
    cursor: pointer;
}