@font-face {
  font-family: 'Poppins-Medium';
  src: url('../utils/fonts/Poppins-Medium.ttf');
}

.sidebar {
    width: 30%;
    background-color: #0E0C19;
    color: #ffffff;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    box-sizing: border-box;
  }
  
  .imagemEmpresa {
    width: 200px;
    height: auto;
    border-radius: 50%;
  }
  
  .title {
    margin-bottom: 16%;
  }

  .title p {
    font-size: 24px;
  }

  .info {
    text-align: center;
    margin-bottom: 16%;
  }
  
  .info p {
    font-size: 18px;
    margin-bottom: 3%;
    font-family: Poppins-Medium;
  }
  
  .contatoEmpresa {
    color: white;
    background-color: #F95C00;
    border-radius: 0.5rem;
    height: 2rem;
    border: none;
    transition: background-color 500ms, transform 700ms ease;
    width: 15rem;
    font-size: 20px;
    margin-bottom: 5%;
  }
  
  .voltarEmpresa {
    color: white;
    background-color: #033E8C;
    border-radius: 0.5rem;
    height: 2rem;
    border: none;
    transition: background-color 500ms ease, transform 700ms ease;
    width: 15rem;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #05C7F2;
    transform: scale(1.15);
    color: black;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 122, 255, 0.5);
  }
  