.problem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 45px;
    background-color: #033E8C;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    font-size: 22px;
    transition: 200ms linear;
}

p {
    color: white;
}

.problem:hover {
    scale: 1.2;
    cursor: pointer;
}