.registro-imagem {
  width: 50%;
  height: 100%;
  position: relative;
  border: solid 5px firebrick;
  overflow: hidden;
}

.slick-dots {
  background-color: #033E8C;
  z-index: 10;
  position: absolute;
}

.registro-imagem .imagem {
  /* width: 100%; */
  object-fit: cover;
  z-index: 1;
  /* height: 34rem; */
  border: solid 5px darkmagenta;
}