.registro_imagem {
  width: 50%;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
}

:global(.slick-dots li button::before) {
  color: white !important; 
}

:global(.slick-dots) {
  background-color: #033E8C;
  z-index: 10;
  position: absolute;
  height: 2rem;
  border-radius: 0 0 1rem 1rem;
}

.registro_imagem .imagem {
  width: 100%;
  object-fit: cover;
  z-index: 1;
  height: 33rem;
  border-radius: 0.5rem;
  flex: 1;
}