@font-face {
    font-family: 'poppins_extrabold';
    src: url('/assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'poppins_semibold';
    src: url('/assets/fonts/Poppins-SemiBold.ttf');
}

body{
    height: 100%;
  }

.header{
    background-color: #0E0C19;
    display: flex;
    height: 56px;
}

.header .imagens{
    margin-left: 5%;
} 

.header .imagens .imagens-logo{
    width: 35%;
    margin-top: 0.4px;
    cursor: pointer;
}

.header .imagens .imagens-af{
    width: 25%;
    cursor: pointer;
    margin-top: 1px;
    margin-bottom: 11px;
}

.header .label{
    display: flex;
    justify-content: space-between;
    width: 13%;
    margin-top: 1%;
    padding-top: 0.3%;
    font-family: 'poppins_extrabold';
}

.header .label .labels{
    color: white;
    cursor: pointer;
}

.header .label .labels-login{
    color: #F95C00;
    cursor: pointer;
}

footer{
    margin-top: 2.82%;
    padding-bottom: 10px;
    color: white;
    padding-top: 10px;
 background-color: black;
 font-family: 'poppins_semibold';
 text-align: center;
}