@font-face {
    font-family: 'poppins_extrabold';
    src: url('/assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'poppins_semibold';
    src: url('/assets/fonts/Poppins-SemiBold.ttf');
}

body {
    height: 100%;
}

.header {
    background-color: #0E0C19;
    display: flex;
    height: 60px;
    border: #F95C00 solid 5px ;
}

.header .imagens {
    border: solid 5px navajowhite;
    /* display: flex; */
    align-items: center;
    font-family: 'poppins_extrabold';
}

.header .imagens .imagens-logo {
    cursor: pointer;
    border: solid 5px violet;
}

.header .imagens a .imagens-logo img{
    width: 100%;
    border: #F95C00 solid 5px ;
}

.header .imagens .imagens-af {
    border: solid 5px goldenrod;
    cursor: pointer;

}

.header .label {
    border: solid 5px navajowhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    font-family: 'poppins_extrabold';
}

.header .label .labels {
    border: solid 5px brown;
    color: white;
    cursor: pointer;
}

.header .label .labels-login {
    border: solid 5px darkorange;
    color: #F95C00;
    cursor: pointer;
}