@font-face {
  font-family: 'poppins_subtitulo';
  src: url('./fonts/Poppins-Medium.ttf');
}

body,html{
  margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

*{
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
color: #033E8C;
}

h1{
  font-family: 'poppins_subtitulo';
  font-size: 40px;
  text-align: center;
}