.div_footer {
    background-color: black;
    font-family: 'poppins_semibold';
    text-align: center;
    width: 100%;
    height:40px; 
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
 }

 .texto_footer{
    color: white;
 }