body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 5px solid red;
}

.carousel-button {
  z-index: 2;
  background: black;
  border: none;
  border-radius: 50%;
  min-width: 2rem;
  min-height: 2rem;
  color: white;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.carousel-button:hover {
  transform: scale(1.1);
}

.cards {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.cards img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.paragrafo{
  color: black;
}