body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button {
  transform: translateY(-50%) ;
  z-index: 2;
  background: black ;
 border: none ;
  border-radius: 50% ;
  width:  3%;
  height: 5vh;
  color:  white;
  cursor: pointer ;
}

.carousel-button:hover {
  width: 3.5%;
}

.cards {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  width: 90%;
}