@font-face {
    font-family: 'Poppins-Black';
    src: url('../../utils/fonts/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;
  }

  body{
    overflow: hidden;
    overflow-y: auto;
  }

.navbar {
    display: flex;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgb(14, 12, 25, 0.8);
}

a{
    display: flex;
    justify-content: center;
    cursor: pointer;    
}

.navbar .logo_area {
    display: flex;
    width: 14rem;
    justify-content: center;
    cursor: pointer;
}

.navbar .logo_image {
    scale: 1.2;
}

.navbar .logo_text {
    scale: 0.8
}

.navbar .nav_itens {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: bolder;
    list-style: none;
}

.navbar .nav_itens li {
    display: flex;
    align-items: center;
}

.navbar .nav_itens li:nth-child(5) a {
    color: #F95C00;
}

.navbar .nav_itens a {
    display: flex;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    align-items: center;
    font-family: Poppins-Black;
    transition: 200ms linear;
    cursor: pointer;
}

.navbar .nav_itens li a:nth-child(4) {
    color: #F95C00;
}

.navbar .nav_itens a:hover {
    font-size: 1.3rem;
    color: #F95C00;
}