.legend {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .legendItem {
    display: flex;
    align-items: center;
  }
  
  .legendCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }
  