@font-face {
    font-family: 'Poppins-Extrabold';
    src: url('../../utils/fonts/Poppins-ExtraBold.ttf');
}

body {
    height: 100%;
}

.header {
    background-color: #0E0C19;
    display: flex;
    height: 60px;   
}

.header .imagens {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.imagens_logo {
    width: 3.7rem; 
}

.imagens_af {
    width: 2.7rem;
} 


.header .label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.header .label .labels {
    font-family: Poppins-Extrabold;
    color: white;
    cursor: pointer;
}

.header .label .labels_login {
    font-family: Poppins-Extrabold;
    color: #F95C00;
    cursor: pointer;
}