.weekSelectorContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 5px 10px;
}

.weekButton {
  font-size: 18px;
  color: black;
  cursor: pointer;
  margin: 0 10px;
  transition: color 0.3s;
}

.weekButton:hover {
  color: #888; /* Cinza claro ao passar o mouse */
}

.disabled {
  color: #d3d3d3; /* Cinza para botões desabilitados */
  cursor: default;
}

.currentWeek {
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}
