* {
    color: black;
    font-family: 'Poppins-Semibold';
    src: url('../utils/fonts/Poppins-SemiBold.ttf');
}

/* body {
    overflow: hidden;
} */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

.empresasContainer {
    background-color: rgb(238, 237, 237);
    height: 36rem;
    width: 55rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    flex-grow: 1;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.barraSuperior {
    border-radius: 20px 20px 0 0;
    background-color: #0E0C19;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
}

.cardsEmpresas {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.welcome {
    background-color: black;
    height: 2px;
    flex-grow: 1;
}

.capsula {
    width: 100%;
    display: flex;
    align-items: center;
}

.text {
    white-space: nowrap;
    margin-right: 5rem;
    margin-left: 8rem;
    font-size: 35px;
}

.paragrafo{
    color: black;
}